.sidebar {
    position: absolute;
    top: 40px;
    right: 0;
    width: 400px;
    background: #efefef;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.info-panel {
    background-color: white;
    width: 90%;
    bottom: 30px;
    left: 10px;
    padding: 5px 15px;
    border-radius: 3px;
}
