.input {
    padding: 20px;
    border-radius: 50% 50% 10% 10%;
    background-color: #76b041;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: xx-large;
}

.output {
    padding: 20px;
    border-radius: 60px;
    background-color: #ffd700;
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-size: xx-large;
}